<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Shard1" connectionString="Server=(local)\SqlExpress;initial catalog=shard1;Integrated Security = True" />
		<add name="Shard2" connectionString="Server=(local)\SqlExpress;initial catalog=shard2;Integrated Security = True" />
		<add name="Shard3" connectionString="Server=(local)\SqlExpress;initial catalog=shard3;Integrated Security = True" />
	</connectionStrings>

</configuration>